<p>First Name: <%= @order.first_name %></p>
<p>Last Name: <%= @order.last_name %></p>
<p>Topping: <%= @order.topping %></p>
<p>Quantity: <%= @order.quantity %></p>
<hr />
<h3><a href="/pizzas/<%= @order.id%>/edit">Edit your order</a></h3>
<form action="/pizzas/<%= @order.id%>/delete" method="post">
  <input type="submit" value="delete order">
</form>
